<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.junji.meal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInPage" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".HomePage" />
        <activity android:name=".InfoPage" />
        <activity android:name=".CalenderPage" />
        <activity android:name=".RecipePage" />
        <activity android:name=".ProfilePage1" />
        <activity android:name=".ProfilePage2" />
        <activity android:name=".RecipeView" />
        <activity android:name=".Calenderdecision" />
        <activity android:name=".Image_1" />
        <activity android:name=".Week1_Meal" />
        <activity android:name=".Week2_Meal" />
        <activity android:name=".Week3_Meal"></activity>
    </application>

</manifest>